<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cuisine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <div class="flex-container">
        <header>
            <div id="headerText"><a href="index.html" class="reset-a">CuisineDiary</a></div>
        </header>
    </div>
    <div class="flex-container">
    <nav class="nav flex-container">
            <div class="navElement"><a href="index.html" class="reset-a">HOME</a></div>
            <div class="navElement"><a href="index.html" class="reset-a">ADD Cuisine</a></div>
            <div class="navElement"><a href="index.html" class="reset-a">Guess Cuisine</a></div>
            <div class="navElement"><a href="index.html" class="reset-a">Contact Us</a></div>
    </nav>
    <div id="cuisine">
        <form action="/cuisine/add" method="POST">
            <div>
                <label for="cuisine_name">Name</label>
                <input id="cuisine_name" type="text" name="cuisine_name">
            </div>
            <div>
                <label for="cuisine_notes">Notes</label>
                <textarea name="cuisine_notes" id="cuisine_notes" rows="3" cols="50">Personalized notes on preparing the cuisine</textarea>
            </div>
            <div>
                <label for="cuisine_tips">Tips</label>
                <textarea id="cuisine_tips" name="cuisine_tips"></textarea>
            </div>
            <div class="button">
                <button type="submit">Add Cuisine to the Diary</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>