<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cuisine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <div class="flex-container">
        <header>
            <div id="headerText"><a href="index.html" class="reset-a">CuisineDiary</a></div>
        </header>
    </div>
    <div class="flex-container">
    <nav class="nav flex-container">
            <div class="navElement"><a href="index.html" class="reset-a">HOME</a></div>
            <div class="navElement"><a href="index.html" class="reset-a">ADD Cuisine</a></div>
            <div class="navElement"><a href="index.html" class="reset-a">Guess Cuisine</a></div>
            <div class="navElement"><a href="index.html" class="reset-a">Contact Us</a></div>
    </nav>
    <div id="cuisine">
        <p></p>
    <table>
        <tr>
            <th>Name:</th>
            <td>Egg Biriyani</td>
        </tr>
        <tr>
            <th>Rating:</th>
            <td>5 Star</td>
        </tr>
        <tr>
            <th>Notes:</th>
            <td>This is a template for cuisines.<br/> Each cuisine will have atleast minimum information with below details</td>
        </tr>
        <tr>
            <th>Tips:</th>
            <td>Follow madras samayal</td>
        </tr>
        <tr>
            <th>References:</th>
            <td>www.youtube.com :) </td>
        </tr>
    </table>
    </div>
</div>
</body>
</html>