<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cuisine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <div class="flex-container">
        <header>
            <div id="headerText"><a href="index.html" class="reset-a">CuisineDiary</a></div>
        </header>
    </div>
    <div class="flex-container">
    <nav class="nav flex-container">
            <div class="navElement"><a href="index.html" class="reset-a">HOME</a></div>
            <div class="navElement"><a href="index.html" class="reset-a">ADD Cuisine</a></div>
            <div class="navElement"><a href="index.html" class="reset-a">Guess Cuisine</a></div>
            <div class="navElement"><a href="index.html" class="reset-a">Contact Us</a></div>
    </nav>
    <div id="cuisine">
        <ul>
            <a href="cuisine.html" class="reset-a"><li>Panjabi daal curry</li></a>
            <a href="cuisine.html" class="reset-a"><li>Egg biriyani</li></a>
            <a href="cuisine.html" class="reset-a"><li>Masala bread</li></a>
            <a href="cuisine.html" class="reset-a"><li>Tomato rice</li></a>
        </ul>
    </div>
</div>
</body>
</html>